@import "../../global.scss";

.faq {
	section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	@include desktop-md {
		padding-bottom: 0px;
	}
	.container {
		display: flex;
	}

	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		@include mobile {
			flex-direction: column;
		}
		.left {
			flex: 1;
			padding: 40px;
			img {
				width: 100%;
				margin-top: 50px;
			}

			@include mobile {
				padding: 10px;
			}
		}

		.right {
			flex: 2;
			padding: 40px;
			@include mobile {
				padding: 10px;
			}
		}
	}
}

#dark {
	.faq-row-wrapper {
		background-color: $dark-backgound;
		transition: all ease-in-out 1s;

		.row-title {
			color: $secondary;
			transition: all ease-in-out 1s;
		}
		.row-content-text {
			color: $dark;
			transition: all ease-in-out 1s;
		}
	}
}

.faq-row-wrapper {
	background-color: $primary-background;
	transition: all ease-in-out 1s;
	.faq-title {
	}

	.faq-body {
		.faq-row {
			margin-bottom: 10px;
			font-family: 'Roboto', sans-serif;
			border: none;
			.row-title {
				transition: all ease-in-out 1s;
				font-weight: bold;
				border-bottom: solid 1px $secondary-background;
				width: 100%;
			}

			.row-content {
				.row-content-text {
					transition: all ease-in-out 1s;
					padding: 10px 0px;
				}
			}
		}
	}
}
