@import "../../global.scss";

.contact {
	background-color: $tertiary-background;
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		h4,
		p {
			text-align: center;
			color: $secondary !important;
		}
		.form {
			display: flex;
			flex-direction: column;
			width: 50%;

			@include desktop-md {
				width: 70%;
			}

			@include mobile {
				width: 100%;
				padding: 10px;
			}
		}
	}
}
