@import '../../global.scss';
.header {
	position: relative;
	z-index: 1;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.container {
		display: flex;
		align-items: center;

		.left {
			flex: 1;
			display: flex;

			h2 {
				color: $primary;
			}

			.buttons {
				display: flex;
				margin-top: 50px;

				span {
					margin-right: 5px;
				}
			}
		}

		.right {
			flex: 1;
			display: flex;
			justify-content: center;
			.img-container {
				align-items: center;
				background: $image-backgound;
				border-radius: 50%;
				display: flex;
				height: 500px;
				justify-content: center;
			}
			img {
				height: 100%;
			}
		}
	}
}
