@import '../../global.scss';

#dark {
	.header {
		h2 {
			color: $secondary;
		}

		.left {
			@include mobile {
				background-color: $dark-backgound;
			}
		}
	}
}

.header {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;

	flex-direction: column;
	padding-top: 100px;

	.container {
		display: flex;
		align-items: center;

		@include mobile {
			flex-direction: column;
		}

		.hidden {
			display: none !important;

			@include mobile {
				display: flex !important;
			}
		}
		.left {
			flex: 1;
			display: flex;
			transition: all ease-in-out 1s;
			padding-top: 0px;

			@include mobile {
				margin-top: -10px;
				background-color: $primary-background;
				padding: 25px 10px;
			}

			h1 {
				@include mobile {
					padding: 0px 10px;
				}
			}

			h2 {
				color: $primary;
				transition: all ease-in-out 1s;
				@include mobile {
					padding: 0px 10px;
				}
			}

			p {
				padding-right: 10px;
				@include mobile {
					padding: 0px 10px;
				}
			}

			.buttons {
				display: flex;
				margin-top: 50px;
				@include mobile {
					flex-direction: column;
					margin-top: 0px;
				}
				span {
					margin-right: 5px;
				}
			}
		}

		.right,
		.hidden {
			flex: 1;
			display: flex;
			justify-content: center;

			.img-container {
				align-items: center;
				background: $image-backgound;
				border-radius: 50%;
				display: flex;
				height: 500px;
				justify-content: center;

				@include mobile {
					height: 250px;
				}
			}
			img {
				height: 100%;
				width: 100%;
			}
		}

		.right {
			@include mobile {
				display: none;
			}
		}
	}
}
