@import "../../global.scss";

#dark {
	.navbar {
		background-color: $tertiary !important;
		transition: all ease-in-out 1s;
	}
}

.navbar {
	background-color: #fff;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	box-shadow: $shadow;
	z-index: 999;
	transition: all ease-in-out 1s;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	img {
		height: 30px;
	}

	.navigation {
		width: 50%;
		display: flex;
		justify-content: space-between;
		p {
			text-transform: capitalize;
			cursor: pointer;
			font-weight: 300;
			transition: none !important;
			&:hover {
				color: $secondary-background !important;
				transition: none !important;
			}
		}
	}
}
