@import "../../global.scss";

#dark {
	.testimonials {
		background: linear-gradient(90deg, $dark-backgound 50%, $secondary-background 50%);
		transition: all ease-in-out 1s;
		.item {
			background-color: $tertiary;
			transition: all ease-in-out 1s;

			h4 {
				color: $dark;
				transition: all ease-in-out 1s;
			}
		}
	}
}

.testimonials {
	background: linear-gradient(90deg, $primary-background 50%, $secondary-background 50%);
	border-radius: $border-radius 0 0 $border-radius;
	transition: all ease-in-out 1s;
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	h2 {
		color: $title;
	}

	.left {
		margin: 10px;
	}

	.right {
		display: flex;
		justify-content: center;
		align-items: center;

		.item {
			background-color: $primary-background;
			padding: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			border-radius: $border-radius;
			box-shadow: $shadow;
			margin: 10px;
			transition: all ease-in-out 1s;

			h4 {
				color: $primary;
				margin-top: 20px;
				transition: all ease-in-out 1s;
			}
		}

		img {
			width: 100px;
			height: 100px;
		}

		p {
			font-style: italic;
			font-weight: 400;
			text-align: center;
		}

		.company {
			font-style: normal;
			font-weight: bold;
		}
	}
}
